
<div class="mapboxgl-popup">
  <div class="mapboxgl-popup-content m-0 p-0">
  <img src= <%= buddy.url %> class="user-image card-img-top rounded-0">
    <div class="d-flex align-items-center justify-content-center p-1">

      <h3 class="m-0 p-2"><%= link_to buddy.name, buddy, :class => "stretched-link text-decoration-none" %></h3>
      <div class="popup-text">
      <p class="m-0"> <%= buddy.buddy_type %></p>
      <p class="m-0">$<%= buddy.rate %>/hour</p>
      </div>
    </div>
  </div>
</div>
