<div class="container">
<h1>Buddies Near You</h1>
<div class="cards">
<% @buddies.each do |buddy| %>

<div class="card" style="background-image: url(<%= buddy.url %>)">
<%= link_to buddy.name, buddy, class: "a-primary" %>
</div>

<% end %>
</div>
