// Import page-specific CSS files here.
@import "home";
@import "show";

.buddy-img {
  border-radius: 25px;
  object-fit: cover;
}

.card-text a {
  color: $primary;
  text-decoration: none;
  border-style: none;
}
