
.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10%;
  align-content: center;
  text-align: center;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 200px;
  height: auto;
  align-content: center;
  text-align: center;
}

.user-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.popup-text {
  text-align: center;
  padding-left: 20px;
  text-align: center;
}

.popup-link {
text-decoration: none;
}

.mapboxgl-popup-tip{
  opacity: 0;
}
