.mapboxgl-popup {
  max-width: 1000px;
  background-color: yellow;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.user-image {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
