.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-lewagon .logo_and_tag {
  display: inline-flex;
  justify-content: space-between;
}

.navbar-lewagon .logo {
  margin-right: 1rem;
}

.navbar-lewagon .title_and_tag_line {
  line-height: 0px;
}

form {
  margin-right: 8px;
}

.form-control {
  margin-right: 250px;
}

.dropdown-menu {
  border-radius: 5px;
  padding: 2px
}
